/*css*/
* {
  margin:0;
  box-sizing:border-box;
  border: 1px soli;
}
body {
  overflow:hidden;
  font-family:"spartan", sans-serif;
}
.header {
  display:flex;
  height: 540px;
}
.slika {
  flex:60%;
  max-width:60%;
}
.right-par {
  flex:40%;
  max-width:40%;
  position: relative;
}
.text-slide {
  padding:100px 100px 15px 100px;
  font-size:13px;
  line-height:1.6;
  display: none;
}
.text-slide > h1 {
  font-size:33px;
  margin-bottom:10px;
  line-height:1.2;
}
.text-slide > p {
  color:hsl(0, 0%, 63%);
}
.right-par > a {
  color:black;
  margin-left: 100px;
  text-decoration:none;
  letter-spacing:6px;
  font-size:15px;
}
.right-par > a:hover {
  color:hsl(0, 0%, 63%);
}
.slide {
  width:100%;
  height: 100%;
  z-index:-1;
  position: relative;
  display: none;
}
.logo {
  color:white;
  font-size:28px;
  position: absolute;
  top: 5%;
  left: 2%;
}
.nav {
  width:60%;
  margin:35px 0 0 35px;
  position: absolute;
  top: 0;
  left: 10%;
}
.nav a {
  text-decoration:none;
  color:white;
  padding:8px;
}
.nav a:hover {
  border-style:none none solid none;
  border-color:white;
}
.donji {
  display:flex;
}
.sl-1-2 {
  flex:30%;
  max-width:30%;
}
.cen-par {
  flex:40%;
  max-width:40%;
  padding:60px;
  font-size:13px;
  line-height:1.5;
}
.cen-par > h2 {
  letter-spacing:3px;
  font-size:16px;
  margin-bottom:10px;
}
.cen-par > p {
  color:hsl(0, 0%, 63%);
}
.left-right {
  position: absolute;
  bottom: 0;
  left: 0;
}
.left-right > div {
  display:inline-block;
  background-color:black;
  padding:25px 33px;
}
.left-right div:nth-child(even) {
	margin-left: -4px;
}
.left-right > div:hover {
  background-color:hsl(0, 0%, 27%);
}

#hamburger {
	display: none;
	position: absolute;
	left: 0;
	top: 5%;
	margin-left: 30px;
}

@media screen and (max-width:600px){
 body {overflow:auto;}
 .header {display:block;}
 .nav {width:100%}
 .slika {
	 display:block;
     min-width: 100%;
 }
 .right-par {
	 display: block;
	 max-width: 100%;
}
 .right-par a {
	 margin-left: 50px;
 }
 .text-slide {
	 padding: 50px;
 }
 .nav {
	 display: none;
 }
 .logo {
	left: 50%;
	transform: translateX(-50%);
 }
 #hamburger {
	 display: inline;
 }
 .left-right {
	 top: -79px;
	 right: 0;
 }
 .donji {
	 display: block;
	 margin-top: 200px;
 }
 .sl-1-2 {
	 max-width: 100%;
 }
 .cen-par {
	 max-width: 100%;
	 padding: 50px;
 }
}




